<div class="box">
  <a
    (click)="showAddPersonModal = true"
    *ngIf="CheckAddPersonPermission(['admin', 'manager'])"
    class="button is-link block mr-5"
    >Dodaj osobę</a
  >
  <input
    [value]="filterValue"
    (input)="filterValue = getFilterValue($event)"
    class="input input-filter is-normal block"
    type="text"
    placeholder="Filtruj"
  />
  <div class="table-container">
    <table class="table is-bordered is-hoverable is-size-6">
      <thead>
        <tr>
          <th>#</th>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Rok urodzenia</th>
          <th *ngIf="CheckAddPersonPermission(['admin'])">Transakcji</th>
          <th *ngIf="CheckAddPersonPermission(['admin'])">Stan konta</th>
          <th *ngIf="CheckAddPersonPermission(['admin'])">Akcje</th>
          <th *ngIf="CheckAddPersonPermission(['admin'])">
            Historia transakcji
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of personsService.persons; index as i">
          <ng-container
            *ngIf="afterFiltered(person.firstName, person.lastName)"
          >
            <th>{{ i + 1 }}</th>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.year }}</td>
            <td *ngIf="CheckAddPersonPermission(['admin'])">
              {{ person.transactions }}
            </td>
            <td *ngIf="CheckAddPersonPermission(['admin'])">
              {{ person.balance | currency: "PLN":"symbol" }}
            </td>
            <td *ngIf="CheckAddPersonPermission(['admin'])">
              <button
                (click)="onEditClick(person)"
                class="button is-link is-small"
              >
                Edytuj
              </button>
              <button
                class="button is-link is-small table-button"
                (click)="
                  showDeletePersonModal = true; personIdToDelete = person._id
                "
              >
                Usuń
              </button>
            </td>

            <td *ngIf="CheckAddPersonPermission(['admin'])">
              <a
                [routerLink]="['/transactions']"
                [queryParams]="{ recipientId: person._id }"
                class="button is-link is-small"
                >Przejdź</a
              >
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal
  [title]="'Dodawanie osoby'"
  *ngIf="showAddPersonModal"
  (onClose)="showAddPersonModal = false"
>
  <ng-container>
    <app-add-person-form
      (onAdd)="onAddPersonSubmit($event)"
    ></app-add-person-form>
  </ng-container>
  <ng-container modalFooter>
    <button type="submit" form="addPersonForm" class="button is-primary">
      Dodaj
    </button>
  </ng-container>
</app-modal>

<app-modal
  [title]="'Edytowanie osoby'"
  *ngIf="showEditPersonModal"
  (onClose)="showEditPersonModal = false"
>
  <ng-container>
    <app-edit-person
      [person]="personToEdit"
      (onEdit)="onEditPersonSubmit($event)"
    ></app-edit-person>
  </ng-container>
  <ng-container modalFooter>
    <button type="submit" form="editPersonForm" class="button is-primary">
      Edytuj
    </button>
  </ng-container>
</app-modal>

<app-modal
  [title]="'Usuwanie osoby'"
  *ngIf="showDeletePersonModal"
  (onClose)="showDeletePersonModal = false"
>
  <ng-container>
    <h1>Czy jesteś pewien?</h1>
    <h4>
      Usunięcie osoby sprawi również usunięcie powiązanych z nią transakcji oraz
      umów
    </h4>
  </ng-container>
  <ng-container modalFooter>
    <button
      type="submit"
      form="editProjectForm"
      (click)="onDeleteClick(personIdToDelete)"
      class="button is-primary"
    >
      Tak
    </button>
  </ng-container>
</app-modal>
