<!DOCTYPE html>
<html ng-app="pai2021">
    <head>
        <meta charset="utf-8"/>
        <title>pai2021</title>
        <link rel="stylesheet" href="node_modules/bootstrap3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

        <link rel="stylesheet" href="css/pai2021.css">

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap3/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container" ng-controller="ContainerCtrl as ctrl">

            <div uib-alert class="alert-animated" ng-class="ctrl.alert.type" close="ctrl.alert.close()" dismiss-on-timeout="3000" ng-if="ctrl.alert.text">
                {{ctrl.alert.text}}
            </div>

            <h1>pai2021</h1>

            <table class="table table-stripped table-hover">
                <tr>
                    <td>
                        <button class="btn btn-default btn-xs fa fa-plus" ng-click="ctrl.edit(-1)"></button>
                    </td>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Rok urodzenia</th>
                </tr>
                <tr ng-repeat="person in ctrl.persons" ng-click="ctrl.edit($index)">
                    <td></td>
                    <td ng-bind="person.firstName"></td>
                    <td ng-bind="person.lastName"></td>
                    <td ng-bind="person.year"></td>
                </tr>
            </table>

        </div>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

        <script src="js/pai2021.js"></script>
    </body>
</html>