<form name="loginDialog">

    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Logowanie</h3>
    </div>

    <div class="modal-body" id="modal-body">
        <label for="login">Login</label>
        <input id="login" type="text" class="form-control" ng-model="ctrl.login" required="true" autofocus/>
        <label for="password">Hasło</label>
        <input id="password" type="password" class="form-control" ng-model="ctrl.password"/>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success fa fa-sign-in" type="submit" ng-disabled="loginForm.$invalid" ng-click="ctrl.doLogin()"></button>
        <button class="btn btn-danger fa fa-times" type="button" ng-click="ctrl.cancel()"></button>
    </div>

</form>