<div>

    <div class="modal-header">
        <h3 class="modal-title" id="modal-title" ng-bind="ctrl.options.title"></h3>
    </div>
    <div class="modal-body" id="modal-body">

        <form class="form">
            <label for="recipient">Odbiorca</label>
            <select id="recipient" class="form-control" ng-model="ctrl.options.data.recipient">
                <option ng-repeat="person in ctrl.persons" value="{{person._id}}" ng-bind="person.firstName+' '+person.lastName"></option>
            </select>
            <label for="amount">Kwota</label>
            <input id="amount" type="number" class="form-control" ng-model="ctrl.options.data.amount"/>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success fa fa-check" type="button" ng-click="ctrl.submit('ok')" ng-if="ctrl.options.ok" ng-disabled="ctrl.options.data.amount <= 0"></button>
        <button class="btn btn-warning fa fa-times" type="button" ng-click="ctrl.cancel()" ng-if="ctrl.options.cancel"></button>
    </div>

</div>