<form
  [formGroup]="editPersonForm"
  (ngSubmit)="onSubmit()"
  #form="ngForm"
  id="editPersonForm"
>
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="text"
        placeholder="Imię"
        formControlName="firstName"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input
        class="input"
        type="text"
        placeholder="Nazwisko"
        formControlName="lastName"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input
        class="input"
        type="number"
        placeholder="Rok urodzenia"
        formControlName="year"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-calendar"></i>
      </span>
    </p>
  </div>
  <p class="has-text-danger" *ngIf="editPersonForm.invalid && form.submitted">
    Proszę prawidłowo wypełnić formularz
  </p>
</form>
