<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <img src="../assets/cross.png" width="80" height="28" />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="is-active"
        routerLink="/home"
        class="navbar-item"
      >
        Strona główna
      </a>
      <ng-container *ngIf="signedIn$ | async">
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="is-active"
          routerLink="/persons"
          class="navbar-item"
        >
          Osoby
        </a>
        <a
          *ngIf="checkPermissions(['admin', 'manager'])"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="is-active"
          routerLink="/transactions"
          class="navbar-item"
        >
          Transakcje
        </a>
        <a
          *ngIf="checkPermissions(['admin', 'manager'])"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="is-active"
          routerLink="/projects"
          class="navbar-item"
        >
          Projekty
        </a>
        <a
          *ngIf="checkPermissions(['manager'])"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="is-active"
          routerLink="/contracts"
          class="navbar-item"
        >
          Umowy
        </a>
      </ng-container>
    </div>

    <div class="navbar-end">
      <div class="navbar-item" *ngIf="username$ | async">
        Witaj, {{ username$.getValue() }}
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <ng-container *ngIf="!(signedIn$ | async)">
            <a (click)="showRegisterModal = true" class="button is-primary">
              <strong>Zarejestruj się</strong>
            </a>
            <a (click)="showLoginModal = true" class="button is-info">
              <strong>Zaloguj się</strong>
            </a>
          </ng-container>
          <ng-container *ngIf="signedIn$ | async">
            <a (click)="onLogout()" class="button is-info">
              <strong>Wyloguj się</strong>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>

<app-modal
  *ngIf="showLoginModal"
  [title]="'Logowanie'"
  (onClose)="showLoginModal = false"
>
  <ng-container>
    <app-login-form (onLogged)="onLogged($event)"></app-login-form>
  </ng-container>
  <ng-container modalFooter>
    <button type="submit" form="loginForm" class="button is-primary">
      Zaloguj się
    </button>
  </ng-container>
</app-modal>

<app-modal
  *ngIf="showRegisterModal"
  [title]="'Logowanie'"
  (onClose)="showRegisterModal = false"
>
  <ng-container>
    <app-register-form (onRegister)="onRegister($event)"></app-register-form>
  </ng-container>
  <ng-container modalFooter>
    <button type="submit" form="registerForm" class="button is-primary">
      Zarejestruj się
    </button>
  </ng-container>
</app-modal>
