.box {
  min-width: 60vw;
}

table {
  display: block;
  height: 380px;
  overflow: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

table {
  width: 400px;
}
