<div class="box">
  <div class="columns">
    <div class="column is-4 is-flex is-flex-direction-column">
      <app-deposit-form
        *ngIf="checkDepositPermission(['admin'])"
        (isDone)="refresh($event)"
      ></app-deposit-form>
    </div>
    <div class="column is-8">
      <input
        [value]="filterPersonValue"
        (input)="filterPersonValue = getFilterPersonValue($event)"
        class="input input-filter is-normal mb-5"
        style="width: 100%"
        type="text"
        placeholder="Filtruj"
      />
      <table
        class="table is-bordered is-striped is-hoverable is-fullwidth is-size-6"
      >
        <thead>
          <tr>
            <th>#</th>
            <th>Wpłacający</th>
            <th>Kwota</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let transaction of transactionsService.transactions;
              let i = index
            "
          >
            <ng-container *ngIf="afterFiltered(transaction.recipientName)">
              <th>{{ i + 1 }}</th>
              <td>{{ transaction.recipientName }}</td>
              <td>{{ transaction.amount | currency: "PLN":"symbol" }}</td>
              <td>{{ transaction.when | date: "dd.MM.yyyy HH:mm" }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
