<div class="box">
  <button class="button is-link mb-5" (click)="showAddProjectModal = true">
    Dodaj projekt
  </button>
  <table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead>
      <th>#</th>
      <th>Nazwa</th>
      <th>Twórca</th>
      <th>Przypisany kierownik</th>
      <th>Data utworzenia</th>
      <th>Edycja</th>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; index as i">
        <th>{{ i + 1 }}</th>
        <td>{{ project.name }}</td>
        <td>{{ project.creator }}</td>
        <td>{{ project.manager }}</td>
        <td>{{ project.timeCreation | date: "dd.MM.yyyy HH:mm" }}</td>
        <th>
          <button
            (click)="onEditClick(project)"
            class="button is-link is-small"
          >
            Edytuj
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<app-modal
  [title]="'Dodawanie projektu'"
  *ngIf="showAddProjectModal"
  (onClose)="showAddProjectModal = false"
>
  <ng-container>
    <app-add-project-form
      (onAdd)="onAddProjectSubmit($event)"
    ></app-add-project-form>
  </ng-container>
  <ng-container modalFooter>
    <button type="submit" form="addProjectForm" class="button is-primary">
      Dodaj
    </button>
  </ng-container>
</app-modal>

<app-modal
  [title]="'Edycja projektu'"
  *ngIf="showEditProjectModal"
  (onClose)="showEditProjectModal = false"
>
  <ng-container>
    <app-edit-project-form
      (onEdit)="onEditProjectSubmit($event)"
      [projectToEdit]="projectToEdit"
    ></app-edit-project-form>
  </ng-container>
  <ng-container modalFooter>
    <button type="submit" form="editProjectForm" class="button is-primary">
      Edytuj
    </button>
  </ng-container>
</app-modal>
