.notification {
  display: flex;
  position: relative;
  flex-direction: row;
  animation: fadein 1.5s;
  margin-bottom: 1rem;
  padding: 1rem 1.25rem;
  color: #fff;
  width: 25vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 40px;
}
.notification-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  bottom: 1rem;
  right: 1rem;
}
