<form
  [formGroup]="addProjectForm"
  #form="ngForm"
  (ngSubmit)="onSubmit()"
  id="addProjectForm"
>
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="text"
        placeholder="Nazwa"
        formControlName="name"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </p>
  </div>
  <div *ngIf="checkPermission(['admin'])" class="field">
    <div class="select is-fullwidth">
      <select formControlName="manager" [required]="checkPermission(['admin'])">
        <option value="" disabled selected hidden>Wybierz kierownika</option>
        <option *ngFor="let manager of managers" [ngValue]="manager">
          {{ manager.firstName }} {{ manager.lastName }}
        </option>
      </select>
    </div>
  </div>
  <p class="has-text-danger" *ngIf="addProjectForm.invalid && form.submitted">
    Proszę prawidłowo wypełnić formularz
  </p>
</form>
